
h1{
    font-size: 5em;
    text-align: center;
    background-color: black;
    color:crimson;
    margin: 0 auto;
    width: 50px;
    border-radius: 50px;
    padding: 45px;
    margin-bottom: 30px;
}
.Title{
    width: 500px;
}
h2{
    font-size: 4em;
    text-align: center;
    background-color: black;
    color:crimson;
    margin: 0 auto;
    width: 200px;
    border-radius: 50px;
    padding: 45px;
    margin-bottom: 30px;
}
h3{
    font-size: 3em;
    text-align: center;
    background-color: black;
    color:crimson;
    margin: 0 auto;
    width: 700px;
    border-radius: 50px;
    padding: 45px;
    margin-bottom: 30px;
}
img{
    border-radius: 50px;
    padding: 5px;
    width: 45%;
    height: 40%;
    
}
div{
    text-align: center;
    
}
p{
    font-size: 2em;
    color: crimson;
    background-color: black;
    border-radius: 50px;
    padding: 5px;
    margin-bottom: 400px;
}
body{
    background-image: url('One\ Piece.avif');
    background-repeat: repeat;
    background-size: cover;
}